* {
 font-family: 'Pattaya', sans-serif; 
 color: #7D2128;
 text-decoration: none;
 padding-bottom: 20px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 180px;
}
.logo:hover {
    width: 185px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}
nav {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
nav a {
   color: white;
   border: 3px solid #B53030;
   border-radius: 20px;
   padding: 5px 20px;
   background-color: #B53030;
   opacity: 0.7;
}
nav a:hover {
    opacity: 1;
}
header h1 {
    color: #B53030;
    font-size: 50px;
}

.anime {
 max-width: 300px;
}
section img {
    width: 80%;
}

footer {
    display: flex;
    justify-content: space-around;
}
.network  {
    margin-left: 50px;
}
/*.name {
    display: flex;
    justify-content: space-around;
}
.hidden {
    margin-top: 50px;
}*/
